<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Mozg. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config>
    <modules>
        <Mozg_Squidfacil>
            <version>1.0.0</version>
        </Mozg_Squidfacil>
    </modules>
    <global>
        <models>
            <mozg_squidfacil>
                <class>Mozg_Squidfacil_Model</class>
                <resourceModel>mozg_squidfacil_resource</resourceModel>
            </mozg_squidfacil>
            <mozg_squidfacil_resource>
                <class>Mozg_Squidfacil_Model_Resource</class>
            </mozg_squidfacil_resource>
        </models>
        <helpers>
            <mozg_squidfacil>
                <class>Mozg_Squidfacil_Helper</class>
            </mozg_squidfacil>
        </helpers>
        <blocks>
            <mozg_squidfacil>
                <class>Mozg_Squidfacil_Block</class>
            </mozg_squidfacil>
        </blocks>
        <resources>
            <mozg_squidfacil_setup>
                <setup>
                    <module>Mozg_Squidfacil</module>
                    <class>Mozg_Squidfacil_Model_Resource_Setup</class>
                </setup>
            </mozg_squidfacil_setup>
        </resources>
        <template>
        </template>
        <events>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mozg_Squidfacil after="Mage_Adminhtml">Mozg_Squidfacil_Adminhtml</Mozg_Squidfacil>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mozg_Squidfacil>
                    <files>
                        <default>Mozg_Squidfacil.csv</default>
                    </files>
                </Mozg_Squidfacil>
            </modules>
        </translate>
        <events>
        </events>
        <layout>
            <updates>
                <mozg_squidfacil>
                    <file>mozg_squidfacil.xml</file>
                </mozg_squidfacil>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <mozg_squidfacil>
                    <file>mozg_squidfacil.xml</file>
                </mozg_squidfacil>
            </updates>
        </layout>
        <routers>
            <mozg_squidfacil>
                <use>standard</use>
                <args>
                    <module>Mozg_Squidfacil</module>
                    <frontName>mozg_squidfacil</frontName>
                </args>
            </mozg_squidfacil>
        </routers>
        <events>
        </events>
        <translate>
            <modules>
                <Mozg_Squidfacil>
                    <files>
                        <default>Mozg_Squidfacil.csv</default>
                    </files>
                </Mozg_Squidfacil>
            </modules>
        </translate>
    </frontend>
    <default>
        <carriers>
            <mozg_squidfacil>
                <!-- BASE -->
                <model>Mozg_Squidfacil_Model_Carrier</model>
                <active>0</active>
                <sort_order>920</sort_order>
                <title>Squid Fácil (powered by MOZG)</title>
                <allowed_methods>1,2</allowed_methods>
                <free_method></free_method>
                <!--<max_package_weight>600</max_package_weight>-->
                <handling_type>F</handling_type>
                <!--<handling_action>O</handling_action>-->
                <handling_fee>0</handling_fee>
                <showmethod>1</showmethod>
                <debug>1</debug>
                <sallowspecific>1</sallowspecific>
                <specificcountry>BR</specificcountry>
                <!-- DEFAULT -->
                <product_attribute_width>ship_width</product_attribute_width>
                <product_attribute_length>ship_length</product_attribute_length>
                <product_attribute_height>ship_height</product_attribute_height>
                <unit_of_measure>KGS</unit_of_measure>
                <display_result_error>1</display_result_error>
                <!-- DEFAULT -->
            </mozg_squidfacil>
        </carriers>
    </default>
    <crontab>
        <jobs>
            <mozg_squidfacil_synchro>
                <schedule>
                    <cron_expr>0 2 * * *</cron_expr><!-- Este cron será executado as 02:00 am -->
                </schedule>
                <run>
                    <model>mozg_squidfacil/cron::synchronous</model>
                </run>
            </mozg_squidfacil_synchro>
        </jobs>
    </crontab>
    <phpunit>
        <suite>
            <modules>
                <Mozg_Squidfacil/>
            </modules>
        </suite>
    </phpunit>
</config>
